.skillsMain {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    display: flex;
    z-index: 10;
    mix-blend-mode: difference;
    flex-direction: column;
    background-color: #181718;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
}

.footerTag {
    border-top: 1px solid rgba(255, 255, 255, .8);
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    align-items: center;
    margin: 0px;
    mix-blend-mode: difference;

    @media (width > 0px) {
        flex-direction: column;
    }

    @media (width > 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.footerEmail {
    justify-content: start;
    display: flex;
    color: rgba(255, 255, 255, .9);
    font-family: 'Switzer-L';
    font-size: 15px;
    margin-left: 15px;
}

.footerTagSpain {
    color: rgba(255, 255, 255, .6);
    font-family: 'Switzer-L';
    font-size: 15px;
}

.footerTagA {
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
    cursor: pointer;
}

.footerSvgA {
    fill: #fff;
    cursor: pointer;
    text-decoration: none;
}

.footerSvgs {
    fill: #fff;
    justify-content: end;
    display: flex;
    gap: 5px;
    margin-right: 15px;
}

.footBB {
    background-color: #e7e8e7;
}

.footBW {
    background-color: #181718;
}

.skills {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: end;

    @media (width > 0px) {
        width: 75%;
    }
}

.skillsSpan {
    display: flex;
    font-family: 'Switzer';
    opacity: .1;
    top: 10px;
    left: 20px;
    font-size: 5vw;
    margin-left: -150px;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (width > 0px) {
        margin-left: -35px;
        font-size: 10vw;
    }

    @media (width > 800px) {
        font-size: 8vw;
    }

    @media (width > 1300px) {
        font-size: 4vw;
        margin-left: -100px;
    }
}

.skillsUl {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0;
}

.skillsLi {
    width: 100%;
    text-align: start;
    list-style: none;
    font-family: 'Switzer';
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1.7px solid rgba(255, 255, 255, .2);
    font-size: 3vw;
    padding-top: .5rem;
    padding-bottom: .5rem;
    mix-blend-mode: difference;
    color: #fff;

    @media (width > 0px) {
        font-size: 8vw;
    }

    @media (width > 600px) {
        font-size: 7vw;
    }

    @media (width > 800px) {
        font-size: 6vw;
    }

    @media (width > 950px) {
        font-size: 5vw;
    }

    @media (width > 1150px) {
        font-size: 4vw;
    }

    @media (width > 1450px) {
        font-size: 3.5vw;
    }

    @media (width > 1700px) {
        font-size: 3vw;
    }
}

.skillsLiOne {
    border-top: 1.7px solid rgba(255, 255, 255, .2);
}