.navbar {
    position: fixed;
    z-index: 9999;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 1rem 4rem;
    mix-blend-mode: difference;
    background-color: transparent;

    @media(width > 0px){
        padding: 1rem 1rem;
    }
}

.navContainer {
    width: 100%;
    justify-content: space-between;
    display: flex;

    @media(width > 600px){
        width: 95%;
    }
}

.navA {
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-family: 'Jost-Regular';
}

.navBtn {
    mix-blend-mode: none !important;
    display: flex ;
    justify-content: end;
}

.css-j204z7-MuiFormControlLabel-root, .css-1kalk3d-MuiSwitch-root{
    margin-right: 0 !important;
}


.light {
    background-color: #fff;
}

.dark {
    background-color: rgb(0, 0, 0);
}

.slideLight {
    background-image: linear-gradient(#f1f1f1, #e4e4e4);
}

.slideDark {
    background-image: linear-gradient(#0e0e0e, #1b1b1b);
}