@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jost-Regular';
  src: url('assets/fonts/Jost/Jost-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost-Light';
  src: url('assets/fonts/Jost/Jost-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Antonio';
  src: url('assets/fonts/Antonio-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-M';
  src: url('assets/fonts/Roboto/Roboto-Medium.ttf' ) format('truetype');
}

@font-face {
  font-family: 'Switzer';
  src: url('assets/fonts/Switzer/Switzer-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Switzer-L';
  src: url('assets/fonts/Switzer/Switzer-Extralight.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-R';
  src: url('assets/fonts/Lato/Lato-Light.ttf') format('truetype');
}

:root {
  background-color: #fff;
}

html {
  scroll-behavior: auto;
  scrollbar-width: thin;
  font-family: sans-serif;
}

body {
  margin: 0;
}

:root {
  --scrollbar-color: #333 #121212;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.whiteA {
  color: rgba(255, 255, 255, .5);
}

.blackA {
  color: rgba(0, 0, 0, .9);
}

.whiteA:hover {
  color: rgba(255, 255, 255, 1);
}

.blackA:hover {
  color: rgba(0, 0, 0, 1);
}

.slideLight {
  background-image: linear-gradient(#f1f1f1, #e4e4e4);
}

.slideDark {
  background-image: linear-gradient(#0e0e0e, #1b1b1b);
}


.css-j204z7-MuiFormControlLabel-root,
.css-1kalk3d-MuiSwitch-root {
  margin-right: 0 !important;
}



.footerTag {
  border-top: 1px solid rgba(255, 255, 255, .8);

  @media (width > 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}